---
title: "Colaboradores"
---

<div id="content-block">
	<h2>Colaboradores</h2>
	<ul class="patrocinadores">
		<% data.colaboradores.empresas.each do |colaborador| %>
			<li>
				<% if colaborador.link.nil? || colaborador.link.empty? %>
					<span>
						<img src="../images/colaboradores/<%= colaborador.image %>" alt="<%= colaborador.name %>" />
					</span>
				<% else %>
					<a href="<%= colaborador.link %>" title="<%= colaborador.linktitle %>">
						<img src="../images/colaboradores/<%= colaborador.image %>" alt="<%= colaborador.name %>" />
					</a>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>