<footer>
	<div class="row">
		<div class="cumbre">
			<a href="http://gmcumbre.blogspot.com" title="Ir a la web de GM Cumbre Llangréu organizador del evento">
				<svg class="icon cumbre-logo">
					<use xlink:href="<%= compute_path("images/map.svg") %>#logo-cumbre"></use>
				</svg>
				Cumbre</a>
		</div>
		
		<ul class="contact">
			<li class="tvs">Trail Valle de Samuño</li>
			<!--<li><a href="tel:#" title="Llamar por teléfono a la organización">+34 985 666 666</a></li>-->
			<li><a href="mailto:hola@trailvallesamuño.es" title="Escribir correo a la organización">hola@trailvallesamuño.es</a></li>
			<li><span class="copy">© Trail Valle de Samuño</span></li>
		</ul>
		
		<div class="social">
			<ul>
				<li class="twitter"><a href="https://twitter.com/tvallesamuno" title="Ir a la página de Twitter del Trail Valle de Samuño">
					<svg class="icon twitter">
						<use xlink:href="<%= compute_path("images/map.svg") %>#twitter"></use>
					</svg>
					Twitter</a></li>
				<li class="facebook"><a href="https://www.facebook.com/TrailValleSamuno/" title="Ir a la página de Facebook del Trail Valle de Samuño">
					<svg class="icon facebook">
						<use xlink:href="<%= compute_path("images/map.svg") %>#facebook"></use>
					</svg>
					Facebook</a></li>
				<li class="Instagram"><a href="https://www.instagram.com/trailvalledesamuno/" title="Ir a la página de Instagram del Trail Valle de Samuño">
					<svg class="icon instagram">
						<use xlink:href="<%= compute_path("images/map.svg") %>#instagram"></use>
					</svg>
					Instagram</a></li>
			</ul>
		</div>
		
		<div class="homologacion">
			<%= svg_link("images/map.svg", "homologada-fempa", "homologacion", "Homologación Fempa", "transversales/homologacionFempa.html", "Ir a la sección de homologación") %>
		</div>		
	</div>
</footer>